:root {
  /* Backgrounds */
  --bg-main: #0b0d10;
  --bg-secondary: #111418;
  --bg-card: #151a20;
  --color: white;
  --black: black;
  --HTML-color: #e34f26;
  --React-color: #61dafb;
  --CSS-color: #1572b6;
  --JS-color: #f7df1e;
  --Bootstrap-color: #7952b3;

  /* Text */
  --text-primary: #ffffff;
  --text-secondary: #b3b8c2;
  --text-muted: #7c828e;
  --success: #6fcf97;

  /* Accent */
  --accent-primary: #61dafb;
  --accent-dark-primary: #61dafb54;
  --accent-secondary: #7c3aed;

  /* Borders & Lines */
  --border-subtle: #1f2530;

  /* Effects */
  --glow-soft: rgba(230, 57, 70, 0.25);
  --shadow-soft: rgba(0, 0, 0, 0.6);
  --gradient-accent: linear-gradient(160deg, skyblue, var(--shadow-soft));

  /* Font Family */
  --primary-font-family: "Inter", system-ui, sans-serif;
  --secondary-font-family: "Playfair Display", serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg-main) !important;
  color: var(--text-primary) !important;
  font-family: var(--primary-font-family);
  overflow-x: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

/** Navbar Section  */
.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  width: -webkit-fill-available;
}

.navbar .container-fluid {
  justify-content: flex-end !important;
}

.navbar-collapse {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-nav {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-direction: row !important;
}

.navbar .nav-list {
  display: flex;
  gap: 50px;
  padding: 15px 30px;
}

.navbar .navlink .link {
  color: var(--accent-primary);
  font-family: var(--secondary-font-family);
  font-size: 18px;
  font-weight: bold;
}

.navbar .navlink .link::after {
  content: "";
  position: relative;
  display: block;
  width: 0;
  height: 3px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--accent-primary);
  border-radius: 10%;
  transition: 0.3s ease;
}

.navbar .navlink .link:hover::after {
  width: 100%;
}

.navbar .navbar-toggler {
  color: var(--accent-primary) !important;
  border-color: var(--accent-dark-primary);

}

.navbar .navbar-toggler-icon {
  font-size: 24px;
  cursor: pointer;
}

/** HERO */
.hero {
  position: relative;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;

  box-shadow: 0 12px 200px #61dafb80;

  background: radial-gradient(circle at top center,
      var(--bg-secondary) 0%,
      var(--bg-main) 60%,
      var(--accent-primary) 100%);
}

/* Vignette */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle,
      transparent 40%,
      rgba(0, 0, 0, 0.25) 100%);
  z-index: 1;
}

/* Noise */
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='200' height='200' filter='url(%23n)' opacity='0.04'/%3E%3C/svg%3E");
  opacity: 0.6;
  z-index: 2;
  pointer-events: none;
}

/* CONTENT */
.hero-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  position: relative;
  z-index: 3;
  max-width: 900px;
  padding: 20px;
}

.hero .fa-html5,
.hero .fa-react,
.hero .fa-square-js,
.hero .fa-css3 {
  position: absolute;
  opacity: 0.4;
  font-size: 140px;
  z-index: 1001;
}

.hero .fa-html5,
.hero.fa-square-js,
.hero .fa-css3 {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.hero .fa-html5 {
  top: 50px;
  left: 0px;
  color: var(--HTML-color);
  filter: drop-shadow(0 2px 40px var(--HTML-color));
}

.hero .hero-content .fa-square-js {
  bottom: 50px;
  right: 0px;
  color: var(--JS-color);
  filter: drop-shadow(0 2px 40px var(--JS-color));
}

.hero .fa-css3 {
  top: 50px;
  right: 0px;
  color: var(--CSS-color);
  filter: drop-shadow(0 2px 40px var(--CSS-color));
}

.hero .fa-react {
  top: 50%;
  left: 50%;
  font-size: 300px;
  color: var(--React-color);
  filter: drop-shadow(0 2px 40px var(--React-color));
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.hero h1 {
  display: flex;
  position: relative;
  flex-direction: column;
  color: var(--color);
  font-size: clamp(3rem, 6vw, 6rem);
  line-height: 1.05;
  letter-spacing: -1px;
  z-index: 1002;
}

.hero h1 :nth-child(2) {
  max-width: 600px;
  height: 86px;
  font-weight: 300;
  color: var(--text-secondary);
}

.hero h1 :nth-child(1) {
  width: max-content;
}

.hero h1 :nth-child(3) {
  display: flex;
  align-items: center;
  width: max-content;
}

.hero p {
  margin: 0 0 0 24px;
  max-width: 250px;
  color: var(--text-secondary);
  font-size: 1.1rem;
  line-height: 1.3;
}

/** To Top BUTTON */
.top-button {
  position: fixed;
  bottom: 30px;
  right: 50px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient-accent);
  box-shadow: 0px 0px 0px 2px rgba(180, 160, 255, 0.253);
  font-weight: 600;
  cursor: pointer;
  transition:
    width 0.3s,
    right 0.3s,
    border-radius 0.3s;
  overflow: hidden;
  z-index: 1000;
}

.top-button:hover {
  width: 130px;
  right: 5px;
  border-radius: 50px;
  background-color: var(--gradient-accent);
  align-items: center;
}

.top-button:hover .svgIcon {
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.top-button::before {
  position: absolute;
  bottom: -20px;
  color: var(--black);
  font-size: 0px;
  content: "Back to Top";
  opacity: 0;
}

.top-button:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  transition-duration: 0.3s;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: var(--black);
}

/** About Us Button */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.about .link {
  padding: 0 15px;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--text-secondary);
  text-shadow: 0 0 20px var(--color);
  transform: rotateY(45deg);
}

.scrolldown {
  position: relative;
  width: 30px;
  height: 50px;
  border: calc(30px / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
  animation: move 2s ease-in-out infinite;
  cursor: pointer;
  z-index: 1010;
}

@keyframes move {

  0%,
  100% {
    transform: translateY(4px);
  }

  50% {
    transform: translateY(-4px);
  }
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px var(--text-secondary);
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }

  40% {
    opacity: 1;
    height: 10px;
  }

  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }

  100% {
    height: 3px;
    opacity: 0;
  }
}

.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
  animation: pulse54012 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
  animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes pulse54012 {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

/** Moving Text */
.motion-text {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  background: var(--bg-main);
  box-shadow: inset 0 -10px 30px var(--accent-dark-primary);
  overflow: hidden;
}

.motion-text .text {
  display: flex;
}

.motion-text .moving {
  display: flex;
  gap: 20px;
}

.motion-text .moving .skill-box {
  display: flex;
  align-items: center;
  width: max-content;
  height: 40px;
  gap: 2px;
}

.motion-text .moving .skill {
  margin: 0;
  font-size: 12px;
}

.fa-circle-check {
  color: var(--success);
}

/** Features Section */

section.features.py-3 {
  position: relative;
  height: max-content;
}

.section-text::after {
  content: "";
  position: relative;
  display: block;
  width: 15%;
  height: 3px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--accent-dark-primary);
  border-radius: 50%;
}

.section-title {
  font-size: 60px;
  font-family: var(--secondary-font-family);
  text-transform: uppercase;
}

.features .feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg-card);
  box-shadow: inset 0 -10px 30px var(--accent-dark-primary);
  border-radius: 10px;
  transition:
    opacity 1.8s ease,
    box-shadow 0.5s ease,
    transform 1.8s ease;
  padding: 30px;
  opacity: 0;
}

.from-left {
  transform: translateX(100px);
}

.from-right {
  transform: translateX(-100px);
}

.from-top {
  transform: translateY(-100px);
}

.from-bottom {
  transform: translateY(100px);
}

.feature-card.show {
  opacity: 1;
  transform: translate(0, 0);
}

.features .card-text {
  font-family: var(--primary-font-family);
}

.features p,
.text {
  color: var(--text-secondary);
}

.features .feature-card:hover {
  box-shadow: inset 0 10px 30px var(--accent-primary);
}

.features .feature-card .icon,
.features .feature-card svg {
  font-size: 50px;
  color: var(--accent-dark-primary);
  transition: transform 0.3s ease;
}

.features .feature-card:hover .icon,
.features .feature-card:hover svg {
  animation: rotation-icon 0.3s linear;
}

/** About Me Section */
.about .about-image {
  width: 100%;
  max-width: 300px;
  margin-right: auto;
}

.about .about-image img {
  box-shadow: 5px 10px 30px var(--accent-dark-primary);
}

.about .about-text .title {
  font-size: 40px;
  font-family: var(--secondary-font-family);
}

.about .about-text p {
  color: var(--text-secondary);
  font-family: var(--primary-font-family);
  font-weight: bold;
}

.about .about-btn {
  padding: 10px 20px;
  margin-right: 15px;
  background: var(--accent-primary);
  color: var(--black);
  font-weight: bold;
  border-radius: 10px;
}

.about .about-btn:hover {
  color: var(--white);
  box-shadow: 0px 0px 20px var(--accent-primary);
}

/** Social icon buttons: make circular and centered */

.about .about-btn.facebook,
.about .about-btn.whatsapp,
.about .about-btn.instagram,
.about .about-btn.linkedin,
.about .about-btn.github {
  width: 44px;
  height: 44px;
  padding: 0;
  margin-right: 10px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--accent-primary);
  color: var(--black);
}

.about .about-btn.facebook i,
.about .about-btn.instagram i,
.about .about-btn.linkedin i,
.about .about-btn.github i {
  font-size: 16px;
}

.about .about-btn.whatsapp i {
  font-size: 16px;
}

.about .facebook:hover {
  background: #1877f2 !important;
  color: var(--white) !important;
}

.about .linkedin:hover {
  background: #0a66c2 !important;
  color: var(--white) !important;
}

.about .github:hover {
  background: #333 !important;
  color: var(--white) !important;
}

.about .instagram:hover {
  background: linear-gradient(45deg,
      #f58529 0%,
      #dd2a7b 30%,
      #8134af 60%,
      #515bd4 100%) !important;
  color: var(--white) !important;
}

.about .whatsapp:hover {
  background: #25d366 !important;
  color: var(--color) !important;
}

@keyframes rotation-icon {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

/** Skills Section */
.skills {
  background: var(--bg-secondary);
  box-shadow: inset 0 -10px 30px var(--accent-dark-primary);
  border-radius: 10px;
  padding: 60px 0;
}

.skill-card .icon {
  font-size: 50px;
}

.fa-html5 {
  color: var(--HTML-color);
  filter: drop-shadow(0 0 10px var(--HTML-color));
}

.fa-css3-alt {
  color: var(--CSS-color);
  filter: drop-shadow(0 0 10px var(--CSS-color));
}

.fa-square-js {
  color: var(--JS-color);
  filter: drop-shadow(0 0 10px var(--JS-color));
}

.fa-bootstrap {
  color: var(--Bootstrap-color);
  filter: drop-shadow(0 0 10px var(--Bootstrap-color));
}

.skill-card {
  position: relative;
  padding-bottom: 35px;
}

.skill-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  background: var(--accent-dark-primary);
  border-radius: 5px;
  bottom: 0;
  left: 0;
}

.skill-card::after {
  content: "";
  position: absolute;
  height: 8px;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  animation: fillBar 2s ease forwards;
}

.html-card::after {
  width: 90%;
  background: var(--HTML-color);
}

.css-card::after {
  width: 85%;
  background: var(--CSS-color);
}

.js-card::after {
  width: 80%;
  background: var(--JS-color);
}

.bootstrap-card::after {
  width: 75%;
  background: var(--Bootstrap-color);
}

@keyframes fillBar {
  from {
    width: 0;
  }
}

.count {
  margin: 10px auto 0;
  width: 70px;
  height: 30px;
  background: var(--accent-primary);
  box-shadow: 0 0 10px var(--accent-primary);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--black);
}

/** Services Section */
.service-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.service-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-card);
  box-shadow: inset 0 -10px 30px var(--accent-dark-primary);
  border-radius: 10px;
  padding: 30px;
  transition:
    box-shadow 0.5s ease;
  overflow: hidden;
}

.service-card .icon {
  font-size: 25px;
  color: var(--accent-primary);
  transition: transform 0.3s ease;
}

.service-card::before {
  content: attr(data-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-card);
  box-shadow: inset 2px 2px 30px var(--accent-primary);
  border-radius: inherit;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  transition: transform 1s ease-in-out, opacity 0.3s ease;
  overflow: hidden;
  z-index: 2;
}

.service-card:hover::after {
  position: absolute;
  top: 0px;
  left: 10px;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.05);
  transition: 1s ease;
  z-index: 2;
}

.card-1:hover::after {
  content: "01";
}

.card-2:hover::after {
  content: "02";
}

.card-3:hover::after {
  content: "03";
}

.card-4:hover::after {
  content: "04";
}

.service-card>* {
  position: relative;
  z-index: 1;
}

.service-card:hover::before {
  transform: translateY(0);
  opacity: 1;
}

.service-card h5 {
  font-family: var(--secondary-font-family);
}

.service-card p {
  color: var(--text-secondary);
  font-family: var(--primary-font-family);
}

/** >>>>>>>>>>>>>>>>>>>>>>>>>> [ Responsive ] <<<<<<<<<<<<<<<<<<<<<<<<<*/
@media (max-width : 1024px) {

  /** Serveces Section */
  .service-card {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .service-card .icon {
    font-size: 30px;
  }
}

@media (max-width: 900px) {
  body {
    overflow-x: hidden;
  }

  .hero h1 {
    font-size: clamp(2.4rem, 8vw, 3.5rem);
  }

  /** Features Section */
  .from-left {
    transform: translateX(-100px);
  }

  .from-right {
    transform: translateX(-100px);
  }

  .from-top {
    transform: translateX(100px);
  }

  .from-bottom {
    transform: translateX(100px);
  }

  /** navbar */
  .navbar-nav {
    padding-top: 5px;
    gap: 20px;
    flex-direction: row;
  }

  .navbar .link {
    font-size: 16px !important;
  }

  .navbar-toggler {
    border: 2px solid var(--accent-dark-primary) !important;
  }

  .navbar-toggler:focus {
    box-shadow: none !important;
  }

}

@media (max-width: 600px) {

  /** Hero Section */
  .hero-content {
    max-width: 400px;
  }

  .hero h1 :nth-child(3) {
    flex-direction: column;
  }

  .hero h1 :nth-child(2) {
    height: 43px;
  }

  .hero p {
    margin-top: 50px;
    margin-left: 0;
  }

  .hero .fa-html5,
  .hero .fa-react,
  .hero .fa-square-js,
  .hero .fa-css3 {
    font-size: 90px;
  }

  .hero .fa-react {
    font-size: 200px;
  }

  /** Navbaar */
  .navbar .nav-list {
    gap: 20px;
    padding: 15px 10px;
  }

  /** Features Section */
  .section-title {
    font-size: 40px;
  }

  .text {
    font-size: 12px;
  }

  .from-left {
    transform: translateX(-80px);
  }

  .from-right {
    transform: translateX(-80px);
  }

  .from-top {
    transform: translateX(-80px);
  }

  .from-bottom {
    transform: translateX(-80px);
  }

  /** About Me Section */
  .about-content {
    padding: 0 10px;
  }

}

@media (max-width: 768px) {}